<div class="card shadow-sm mb-2 px-2">
    <div class="card-title d-flex justify-content-between align-items-center">
        <h3 class="h3 mb-0 m-2 bg">{{ category }}</h3>
        <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse"
                href="#collapse_{{ category }}" aria-expanded="true" aria-controls="collapse"><img
                src="../../static/assets/caret-up-fill.svg" alt="&#8964;"/>
        </button>
    </div>
    <div class="collapse show" id="collapse_{{ category }}">
        <!-- spanned cards -->
        <div class="row">
            <div class="container col">
                <div class="row">
                    <div class="col">
                        {% for leaf in care_guide %}
                            {% if leaf.seasons|length == 4 and leaf.category == category %}
                                <!-- Checks for spanning leaves -->
                                {% include "components/leaf.html" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- season section -->
        {% set seasons = namespace(value=false) %}
        {% for leaf in care_guide %}
            {% if leaf.seasons|length < 4 and leaf.category == category %}
                {% set seasons.value = true %}
            {% endif %}
        {% endfor %}
        {% if seasons.value == true %}
            <div class="row row-cols-1 row-cols-lg-4 g-2">
                <!-- Season column loop -->
                {% for season in all_seasons %}
                    <div class="col">
                        <div class="h6 rounded text-center mb-0 bg-secondary bg-opacity-25 px-3 py-1">{{ season }}</div>
                        {% for leaf in care_guide %}
                            {% if leaf.seasons|length < 4 and season in leaf.seasons and leaf.category == category %}
                                {% include "components/leaf.html" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
        {% endif %}
    </div>
</div>