<div class="card shadow-sm mb-2 p-2 m-2">
    <div class="card-title d-flex justify-content-between align-items-center">
        <h3 class="h3 mb-0 bg">{{ category }}</h3>
        <a class="btn btn-sm btn-secondary"><></a>
    </div>

    <!-- spanned cards -->
    <div class="row">
        <div class="container col">
            <div class="row">
                <div class="col">
                    {% for leaf in care_guide %}
                    {% if leaf.seasons|length == 4 and leaf.category == category %}
                    {% include "components/leaf.html" with context %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- season section -->
    <div class="row row-cols-1 row-cols-lg-4 g-2">
        <!-- SPRING -->
        <div class="col">
            <div class="h6 rounded text-center mb-0 bg-primary bg-opacity-25 p-3">Spring</div>
            {% for leaf in care_guide %}
            {% if leaf.seasons|length < 4 and "Spring" in leaf.seasons and leaf.category == category %}
            {% include "components/leaf.html" %}
            {% endif %}
            {% endfor %}
        </div>
        <!-- SUMMER -->
        <div class="col">
            <div class="h6 rounded text-center mb-0 bg-primary bg-opacity-25 p-3">Summer</div>
            {% for leaf in care_guide %}
            {% if leaf.seasons|length < 4 and "Summer" in leaf.seasons and leaf.category == category %}
            {% include "components/leaf.html" %}
            {% endif %}
            {% endfor %}
        </div>
        <!-- FALL -->
        <div class="col">
            <div class="h6 rounded text-center mb-0 bg-primary bg-opacity-25 p-3">Fall</div>
            {% for leaf in care_guide %}
            {% if leaf.seasons|length < 4 and "Fall" in leaf.seasons and leaf.category == category %}
            {% include "components/leaf.html" %}
            {% endif %}
            {% endfor %}
        </div>

        <!-- WINTER -->
        <div class="col">
            <div class="h6 rounded text-center mb-0 bg-primary bg-opacity-25 p-3">Winter</div>

            {% for leaf in care_guide %}
            {% if leaf.seasons|length < 4 and "Winter" in leaf.seasons and leaf.category == category %}
            {% include "components/leaf.html" %}
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>