<div class="d-flex flex-column my-2">
    <div class="card leaf-card">
        <div class="card-body d-flex flex-column">
            <div class="card-header">
                <span class="h5 card-title me-2 align-content-baseline">{{ leaf.subcategory }}</span>
                {% if is_edit_mode and current_user.role == 'admin' %}
                    <form method="POST" action="/edit_leaf">
                        <input type="hidden" name="target_branch_id" value="{{ branch.id }}">
                        <input type="hidden" name="branch_id" value="{{ branch.id }}">
                        <input type="hidden" name="leaf_id" value="{{ leaf.id }}">
                        <div class="btn-group btn-group-sm" role="group">
                            {% if branch.id == leaf.branch_id %}
                                <button type="submit" class="btn btn-outline-info py-0 px-1">Edit</button>
                                <button type="submit" formaction="/check_delete_leaf"
                                        class="btn btn-outline-danger py-0 px-1">Delete
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-outline-info py-0 px-1">Clone</button>

                            {% endif %}
                        </div>
                    </form>
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="col-12">
                            <ol class="breadcrumb" style="font-size: 0.85rem !important;">
                                {% for crumb in breadcrumbs[:-1] %}
                                    <li class="breadcrumb-item">
                                        {% if crumb.id == leaf.branch_id %} <!-- emphasize the source -->
                                            <a href="/show_branch?branch={{ crumb.id }}"
                                               class="link-danger link-underline link-underline-opacity-0
                                       link-underline-opacity-50-hover link-underline-danger fw-bold">
                                                {{ crumb.name }}
                                            </a>
                                        {% else %}
                                            <a href="/show_branch?branch={{ crumb.id }}"
                                               class="link-danger link-underline link-underline-opacity-0
                                       link-underline-opacity-50-hover link-underline-danger">
                                                {{ crumb.name }}
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                <li class="breadcrumb-item">
                                    {% if breadcrumbs[-1].id == leaf.branch_id %} <!-- emphasize the source -->
                                        <span class="link-danger link-underline link-underline-opacity-0
                                       link-underline-opacity-50-hover link-underline-danger fw-bold">
                                        {{ breadcrumbs[-1].name }}
                                    </span>
                                    {% else %}
                                        <span
                                                class="link-danger link-underline link-underline-opacity-0
                                       link-underline-opacity-50-hover link-underline-danger">
                                        {{ breadcrumbs[-1].name }}
                                    </span>
                                    {% endif %}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>


            <ul class="list-group list-group-flush">
                {% for entry in leaf.entries %}

                    <li class="list-group-item">
                        {% if "1st" in entry["phases"] %}
                            <span class="badge rounded-pill text-bg-primary">1st</span>
                        {% endif %}
                        {% if "2nd" in entry["phases"] %}
                            <span class="badge rounded-pill text-bg-primary">2nd</span>
                        {% endif %}
                        {% if "3rd+" in entry["phases"] %}
                            <span class="badge rounded-pill text-bg-primary">3rd+</span>
                        {% endif %}
                        <p class="card-text">{{ entry["text"] }}
                    </li>

                {% endfor %}
            </ul>

        </div>

    </div>
</div>