<nav class="navbar fixed-top navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">
            {#            <img src="../../static/assets/layer-forward.svg" alt="BonsaiTree Logo" width="30" height="24"#}
            {#                 class="d-inline-block align-text-top">#}
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" fill="currentColor"
                 class="bi bi-layer-forward d-inline-block align-text-top" viewBox="0 0 16 16">
                <path d="M8.354.146a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708l1 1a.5.5 0 0 0 .708 0L7 4.207V12H1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1H9V4.207l.646.647a.5.5 0 0 0 .708 0l1-1a.5.5 0 0 0 0-.708z"/>
                <path d="M1 7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h4.5a.5.5 0 0 0 0-1H1V8h4.5a.5.5 0 0 0 0-1zm9.5 0a.5.5 0 0 0 0 1H15v2h-4.5a.5.5 0 0 0 0 1H15a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1z"/>
            </svg>
            BonsaiTree
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-fill">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/print_tree">Care Guides</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/tree_view">Tree View</a>
                </li>


                {% if current_user.role in ["admin", "editor"] %}
                    <!--
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Edit
                            Branches</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/create_branch">Create Branch</a></li>
                            <li><a class="dropdown-item" href="/select_edit_branch">Edit Branch</a></li>
                            <li><a class="dropdown-item" href="/select_delete_branch">Delete Branch</a></li>
                        </ul>
                    <li class="nav-item"><a class="nav-link" href="/select_edit_leaf">Leaf Editor</a></li>
                    -->
                    {% if branch is defined %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('show_branch', branch= branch.id, mode='edit') }}">
                                Edit Mode</a>
                        </li>

                    {% endif %}
                {% endif %}
                {% if current_user.role == "admin" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/manage_users">Manage Users</a>
                    </li>
                {% endif %}
            </ul>

            <div class="d-flex align-items-center gap-3">
                <div class="btn-group btn-group-sm" role="group" aria-label="Temperature Unit Selection">
                    <input type="radio" class="btn-check" name="tempUnit" id="unitF" checked autocomplete="off">
                    <label class="btn btn-outline-secondary btn-sm" for="unitF">°F</label>

                    <input type="radio" class="btn-check" name="tempUnit" id="unitC" autocomplete="off">
                    <label class="btn btn-outline-secondary btn-sm" for="unitC">°C</label>
                </div>
                <div class="d-flex align-items-baseline gap-3"> <!-- Dark Mode Toggler -->
                    <button id="theme_toggle" class="btn btn-sm btn-outline-tertiary d-flex p-2 justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-moon-fill moon_icon" viewBox="0 0 16 16">
                            <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-brightness-high-fill sun_icon" viewBox="0 0 16 16">
                            <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
                        </svg>
                    </button>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {% if current_user.is_authenticated %}
                            {{ current_user.username }}
                        {% else %}
                            Not Logged In
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if current_user.is_authenticated %}
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>