{% extends "template.html" %}

{% block title %}{{ branch.name }} Care Guide{% endblock %}
{% block content %}
    {% if mode=="edit" %}
        <div class="container sticky-top col-6">
            <div class="p-4"></div>
            <div class="alert alert-danger mt-3" role="alert"><strong>EDIT MODE</strong> is active.</div>
        </div>
    {% endif %}
    <!-- Hero -->
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img
                        src="../static/assets/branch_img/{{ branch.image }}"
                        class="d-block mx-lg-auto img-fluid"
                        alt="{{ branch.name }} image"
                        width="700"
                        height="500"
                        loading="lazy"
                />
            </div>
            <div class="col-lg-6">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for crumb in breadcrumbs[:-1] %}
                            <li class="breadcrumb-item"><a href="/show_branch?branch={{ crumb._id }}"
                                                           class="link-danger link-underline link-underline-opacity-0
                                                           link-underline-opacity-50-hover link-underline-danger">{{ crumb.name }}</a>
                            </li>
                        {% endfor %}
                        <li class="breadcrumb-item"></li>
                    </ol>
                </nav>
                <h1 class="display-3  lh-1 mb-3">
                    {{ branch.name }}
                </h1>
                <p class="lead">
                    {{ branch.description }}
                </p>
                {% if children|length > 0 %}
                    Children:
                    <ul>
                        {% for child in children %}

                            <li>
                                <a href="/show_branch?branch={{ child._id }}" class="link-danger link-underline
                            link-underline-opacity-0 link-underline-opacity-50-hover link-underline-danger">{{ child.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if mode=="edit" %}
                    <div class="mb-3">
                        <form action="/edit_branch" method="post">
                            <div class="btn-group" role="group">
                                <button class="btn btn-outline-info" name="select_branch_id" value="{{ branch.id }}"
                                        type="submit">Edit Branch
                                </button>
                                <button class="btn btn-outline-danger" name="select_branch_id" value="{{ branch.id }}"
                                        type="submit" formaction="/check_delete_branch">Delete Branch
                                </button>
                            </div>

                        </form>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>


    <div class="container my-2"> <!-- page body container -->
        <!-- Filter Form -->
        <form method="GET" action="/show_branch">
            <input type="hidden" name="branch" value="{{ branch.id }}"/>
            <div class="card shadow-sm mb-2">
                <div class="card-header d-flex justify-content-start align-items-center">
                    <h4 class="h5 mb-0 p-2">Filters:</h4>
                    <div class="btn-group btn-group-sm p-2" data-toggle="buttons" role="group">
                        <label class="btn btn-group-text-primary disabled">Phase:</label>
                        {% if "1st" in phases %}
                            <input type="checkbox" class="btn-check" id="1st" autocomplete="off" name="1st" checked>
                        {% else %}
                            <input type="checkbox" class="btn-check" id="1st" autocomplete="off" name="1st">
                        {% endif %}
                        <label class="btn btn-outline-primary" for="1st">1st</label>
                        {% if "2nd" in phases %}
                            <input type="checkbox" class="btn-check" id="2nd" autocomplete="off" name="2nd" checked>
                        {% else %}
                            <input type="checkbox" class="btn-check" id="2nd" autocomplete="off" name="2nd">
                        {% endif %}
                        <label class="btn btn-outline-primary" for="2nd">2nd</label>
                        {% if "3rd+" in phases %}
                            <input type="checkbox" class="btn-check" id="3rd+" autocomplete="off" name="3rd+" checked>
                        {% else %}
                            <input type="checkbox" class="btn-check" id="3rd+" autocomplete="off" name="3rd+">
                        {% endif %}
                        <label class="btn btn-outline-primary" for="3rd+">3rd+</label>
                    </div>
                    <button type="submit" class="btn btn-outline-primary btn-sm">Apply</button>
                </div>
            </div>
        </form>

        <!--Category container -->
        {% for category in category_list %}
            {% include 'components/category.html' %}
        {% endfor %}

    </div>

{% endblock %}