{% extends "template.html" %}
{% block title %}Edit User{% endblock %}
{% block content %}

    <div class="container my-2 col-md-6 col-8 d-flex-vertical">
        {% if current_user.role == "admin" %}
            <form method="POST" action="/do_edit_user">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <h3 class="col-lg-8">Editing User: '{{ user.username }}'</h3>
                <span>Current role: {{ user.role }}</span>
                <span>Adjust role or take moderation action. </span>


                <select class="form-select my-2" aria-label="Change user role" name="role_change">
                    <option selected value="">--Change user role--</option>

                    <option value="user">Standard User</option>
                    <option value="editor">Editor</option>
                    <option value="admin">Admin</option>

                </select>
                <div class="row mb-4">
                    <div class="col 1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/">Cancel</a>
                    </div>
                </div>
                <div class="row my-2">
                    {% if user.is_active %}
                        <div class="btn-" role="group">
                        <button class="btn btn-outline-warning" name="disable_account" value="disable_account"
                                type="submit">Disable Account
                        </button>
                    {% else %}
                        <div class="btn-" role="group">
                        <button class="btn btn-outline-success" name="enable_account" value="enable_account"
                                type="submit">Re-Enable Account
                        </button>
                    {% endif %}
                    <button class="btn btn-outline-danger" name="delete_account" value="delete_account"
                            type="submit">Delete Account
                    </button>
                    </div>

                    </div>


            </form>
        {% else %}
            <h3>Access Denied.</h3>
            <span><a href="/">Return Home</a></span>
        {% endif %}
    </div>

{% endblock %}