{% extends "template.html" %}
{% block title %}Select User to Manage{% endblock %}
{% block content %}


    <div class="container my-2 col-md-4 col-6 d-flex-vertical">
        {% if current_user.role == "admin" %}
            <form method="POST" action="/edit_user">

                <h3 class="col-lg-8">Lookup User</h3>

                <label for="user_selection" class="form-label">Search user by username to adjust role or take moderation
                    action.</label>
                <input class="form-control w-100 mb-2" list="user_list" name="user_selection" id="user_selection"
                       placeholder="Type to search...">
                <datalist id="user_list">
                    {% for user in users %}
                        <option value="{{ user.username }}">
                    {% endfor %}
                </datalist>

                <div class="row">
                    <div class="col 1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/">Cancel</a>
                    </div>
                </div>

            </form>
        {% else %}
            <h3>Access Denied.</h3>
            <span><a href="/">Return Home</a></span>
        {% endif %}
    </div>

{% endblock %}