{% extends "template.html" %}
{% block title %}Create/Edit Leaf{% endblock %}
{% block content %}

    <div class="container my-2 col-md-8 col-10 d-flex-vertical">
        <form method="POST" action="/do_edit_leaf">

            {% if source_branch.id != target_branch_id %}
                <!-- if making a NEW leaf that is inherited/vs actually editing. -->
                <!-- passes on the target_branch_id, and original category/subcategory. -->
                <h3 class="col-lg-8">Creating a new leaf. </h3>
                <h5>'{{ leaf.category }}: {{ leaf.subcategory }}' Leaf
                    for {{ target_branch.name }}.</h5>
                <h5>Referencing {{ source_branch.name }} </h5>
                <span>You are cloning an 'inherited' leaf to create a new, specific one for {{ target_branch.name }}.
                    Some fields cannot be changed to ensure the inherited leaf is replaced. You can have multiple text
                    entries, with the intention that they would apply to different phases of growth. </span>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="branch-name">Branch Name:</span>
                    <input type="text" class="form-control" name="branch_name" value="{{ target_branch.name }}"
                           readonly disabled>
                    <input type="hidden" name="branch_id" value="{{ target_branch.id }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="category">Category:</span>
                    <input type="text" class="form-control" value="{{ leaf.category }}"
                           readonly disabled>
                <input type="hidden" name="category" value="{{ leaf.category }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="subcategory">Subcategory:</span>
                    <input type="text" class="form-control" value="{{ leaf.subcategory }}"
                           readonly disabled>
                <input type="hidden" name="subcategory" value="{{ leaf.subcategory }}">
                </div>
            {% endif %}

            <!-- Season Selector -->

            <div class="btn-group p-2 mb-3" data-toggle="buttons" role="group">
                <label class="btn btn-group-text-primary disabled">Season(s):</label>
                <input type="checkbox" class="btn-check" id="Spring" autocomplete="off" name="Spring" checked>
                <label class="btn btn-outline-primary" for="Spring">Spring</label>
                <input type="checkbox" class="btn-check" id="Summer" autocomplete="off" name="Summer" checked>
                <label class="btn btn-outline-primary" for="Summer">Summer</label>
                <input type="checkbox" class="btn-check" id="Fall" autocomplete="off" name="Fall" checked>
                <label class="btn btn-outline-primary" for="Fall">Fall</label>
                <input type="checkbox" class="btn-check" id="Winter" autocomplete="off" name="Winter" checked>
                <label class="btn btn-outline-primary" for="Winter">Winter</label>

            </div>

            <!-- Four entries input -->

            <p class="mb-3">Any existing entries will be overwritten when submitting this form. If you
                want to reference any old data, copy it into a new entry and ensure it is selected to be added. Entries
                can have any unique combination of applicable phases.
                In the case where you want to "end the chain" and stop inheriting a leaf for a subcategory, submit this
                form with no entries selected. The subcategory will not show up on the selected branch page or any
                children.</p>
            <div class="card mb-3">
                <div class="card-header">
                    Original Entries
                </div>
                <div class="card-body p-2"><h6>{{ leaf.category }}: {{ leaf.subcategory }}</h6>
            <span>{{ source_branch.name }}</span></div>
                <ul class="list-group list-group-flush">
                    {% for entry in leaf.entries %}
                        <li class="list-group-item">
                            {% if "1st" in entry["phases"] %}
                                <span class="badge rounded-pill text-bg-primary">1st</span>
                            {% endif %}
                            {% if "2nd" in entry["phases"] %}
                                <span class="badge rounded-pill text-bg-primary">2nd</span>
                            {% endif %}
                            {% if "3rd+" in entry["phases"] %}
                                <span class="badge rounded-pill text-bg-primary">3rd+</span>
                            {% endif %}
                            <p class="card-text">{{ entry["text"] }}
                        </li>

                    {% endfor %}
                </ul>
            </div>
            <div class="card mb-3">
                <div class="card-header p-2">
                    <h5>Entry editor:</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for new_entry in [1,2,3,4] %} <!-- Entry loop -->
                        <li class="list-group-item">
                            <div class="row g-3 align-items-baseline">
                                <div class="form-check form-switch col-auto">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           id="entry_enabled_{{ loop.index }}" name="entry_enabled_{{ loop.index }}">
                                    <label class="form-check-label col-form-label" for="entry_enabled_{{ loop.index }}">Entry {{ loop.index }}
                                        Enabled</label>
                                </div>
                                <div class="btn-group btn-group-sm p-2 col-auto" data-toggle="buttons" role="group">
                                    <label class="btn btn-group-text-primary disabled">Phase:</label>
                                    <input type="checkbox" class="btn-check" id="phase_1st_{{ loop.index }}"
                                           autocomplete="off" name="phase_1st_{{ loop.index }}" checked>
                                    <label class="btn btn-outline-primary col"
                                           for="phase_1st_{{ loop.index }}">1st</label>

                                    <input type="checkbox" class="btn-check" id="phase_2nd_{{ loop.index }}"
                                           autocomplete="off" name="phase_2nd_{{ loop.index }}" checked>

                                    <label class="btn btn-outline-primary" for="phase_2nd_{{ loop.index }}">2nd</label>

                                    <input type="checkbox" class="btn-check" id="phase_3rd+_{{ loop.index }}"
                                           autocomplete="off" name="phase_3rd+_{{ loop.index }}" checked>

                                    <label class="btn btn-outline-primary"
                                           for="phase_3rd+_{{ loop.index }}">3rd+</label>
                                </div>
                            </div>
                            <div class="row">
                                <label for="entry_text_{{ loop.index }}"
                                       class="form-label">Entry {{ loop.index }} Text:</label>
                                <textarea class="form-control" id="entry_text_{{ loop.index }}"
                                          name="entry_text_{{ loop.index }}" rows="3"></textarea>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="row">
                <div class="col 1">
                    <button type="submit" class="btn btn-primary">{% if source_branch.id != target_branch_id %}
                        Create{% else %}Edit{% endif %} Leaf
                    </button>
                    <a href="/">Cancel</a>
                </div>
            </div>
        </form>
    </div>


{% endblock %}