{% extends "template.html" %}
{% block title %}Leaf Editor - Select Branch{% endblock %}
{% block content %}
    <div class="container col-md-4 col-8">

        <form method="POST" action="/leaf_editor">
            <h3 class="my-2">Select branch to edit leaves:</h3>
            <select class="form-select my-1" aria-label="Select branch" name="select_branch_id" required>
                <option selected value="">Select branch</option>
                {% for branch in all_branches %}
                    <option value="{{ branch.id }}">{{ branch.name }}</option>
                {% endfor %}
            </select>
            <div class="row">
                <div class="col 1">
                    <button type="submit" class="btn btn-primary">Select</button>
                    <a href="/">Cancel</a>
                </div>
            </div>
        </form>

    </div>

{% endblock %}